In [ ]:
#Q-1
#print 0 to 20 by using range

In [2]:
for num in range(20):  # range(n) generates numbers from 0 to n-1
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#Q-2
# print range 10 to 20

In [22]:
for num in range(10,20):  # range(n) generates numbers from 0 to n-1
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [19]:
#Q-3
# Print number of items in the list by using 'len'

In [23]:
# Defining the list
List2 = [10, 20, 14, 55, 43, 87, 76]

# Printing the number of items in the list
print("Number of items in List2:")
print(len(List2))

Number of items in List2:
7

In [10]:
#Q-4
title = "Artificial Intelligence"
print(title)
for chr in title:
    print(chr)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
#Q-5
-Your Name-
-Your Age-
-Your Profession-

In [13]:
name = "Your Name"
age = "Your Age"
profession = "Your Profession"

print(f"-{name}-")
print(f"-{age}-")
print(f"-{profession}-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
#Q-6
# Print yhis mixered datatype using Tuples

In [14]:
# Creating a tuple with mixed data types
mixed_tuple = (1, "welcome", 2, "hope")

# Printing the tuple
print(mixed_tuple)

(1, 'welcome', 2, 'hope')

In [ ]:
#Q-7
#Tuple1 = (0, 1, 2, 3)

In [15]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Result = (Tuple1, Tuple2)

print(Result)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
#Q-8
# print Odd Numbers in the list
(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [16]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]

# Iterate through the list and check if each number is odd
for num in numbers:
    if num % 2 != 0:  # Check if the number is odd
        print(f"{num} is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
#Q-9
# print Even numbers in the list
20 is even
10 is even
16 is even
276 is even
188 is even

In [17]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]

for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")

20 is even
10 is even
16 is even
276 is even
188 is even